:root {
    --iris: #4d5ae5;
    --navy-blue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #E7E9FC;
    --cloud: #f4f4fd;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--slate);
}

li {
    list-style: none;
}

.link{
    text-decoration: none;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--navy-blue);
    margin-bottom: 72px;
}

div>.section-title {
    text-align: center;
}
.icons-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-social-media:hover,
.icons-social-media:focus {
    background-color: var(--green);
}

/* header */
header {
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
    display: flex;
    align-items: center;
}

.logo-header {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
    margin-right: 77px;
    padding: 24px 0 28px 0;
}

.web-logo {
    color: var(--iris);
}

.nav-header {
    margin-right: auto;
}

.nav-list {
    display: flex;
}

.nav-list li:not(:last-child) {
    margin-right: 40px;
}

.nav-link1,
.nav-link2 {
    font-weight: 600;
    line-height: 1.5;
    color: var(--navy-blue);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0 28px 0;
    display: block;
    color: var(--iris);
}

.nav-link1::after,
.nav-link2::after {
    content: '';
    position: absolute;
    background-color: #4d5ae5;
    width: 100%;
    border-radius: 4px;
    height: 4px;
    left: 0;
    bottom: 0;
}

.nav-link {
    display: block;
    font-weight: 600;
    line-height: 1.5;
    color: var(--navy-blue);
    padding: 24px 0 28px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
    color: var(--iris);
}

.nav-link1:hover,
.nav-link1:focus,
.nav-link1:active, 
.nav-link2:hover,
.nav-link2:focus,
.nav-link2:active{
    color: var(--iris);
}

.contact-list {
    display: flex;
}

.contact-list li:not(:last-child) {
    margin-right: 40px;
}

.contact-item {
    color: var(--slate);
    display: block;
    line-height: 1.5;
    padding: 24px 0 28px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-item:hover,
.contact-item:focus,
.contact-item:active {
    color: var(--iris);
}

/* main */
/* section1 */
.section-one {
    padding: 192px 0;
    text-align: center;
    background-image: linear-gradient(90deg, rgba(46, 47, 66, 0.7) 100%, rgba(46, 47, 66, 0.7) 100%), url(../images/peopleOffice.jpg);
    background-size: 1440px 603px;
    background-position: center;
    background-repeat: no-repeat;
}

.main-title {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
    margin-bottom: 48px;
    text-align: center;
    width: 492px;
    margin-left: auto;
    margin-right: auto;
}

.order-button {
    display: inline-block;
    background-color: var(--iris);
    box-shadow: 0px 4px 4px 0px #00000026;
    padding: 16px 32px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.19;
    font-size: 16px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    border: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
}

.order-button:active {
    background-color: #404BBF;
    box-shadow: 0px 4px 4px 0px #00000026;
}

/* section2 */
.icon-item-section-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cloud);
    height: 112px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.icon-section-two {
    width: 64px;
    height: 64px;
}

.section-two {
    padding: 120px 0;
}

.feature-list {
    display: flex;
}

.feature-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

.feature-item:not(:last-child) {
    margin-right: 24px;
}

.feature-text {
    line-height: 1.5;
}

.feature-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

/* section3 */
.section-three {
    padding-bottom: 120px;
}

.container-section-three {
    flex-direction: column;
}

.img-section-three {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-list {
    display: flex;
    justify-content: center;
}

.img-list li:not(:last-child) {
    margin-right: 24px;
}

/* section4 */
.section-four {
    background-color: var(--cloud);
    padding: 120px 0;
}

.section-four-content {
    padding: 32px 16px;
    text-align: center;
}

.section-four-list {
    display: flex;
}

.icon-list-section-four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-four-content p {
    margin-bottom: 12px;
}

.icon-section-four{
width: 16px;
height: 16px;
}

.icon-item-section-four:not(:last-child) {
    margin-right: 24px;
}

.section-four-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.section-four-item:not(:last-child) {
    margin-right: 24px;
}

.full-name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.img-section-four {
    display: block;
}

.icon-item-section-four a{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--iris);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* section5 */
.section-five {
    padding: 120px 0;
}

.icon-list-section-five {
    display: flex;
}

.icon-link-section-five {
    width: 168px;
    height: 88px;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    fill: var(--light-slate);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-section-five:hover,
.icon-link-section-five:focus {
    fill: var(--iris);
    border: 1px solid var(--iris);
}

.icon-item-section-five:not(:last-child) {
    margin-right: 24px;
}

.icon-section-five {
    width: 104px;
    height: 56px;
}

/* footer */
footer {
    background-color: var(--navy-blue);
    padding: 100px 0;
    display: flex;
}
.container-footer {
    display: flex;
}
.footer-social-media{
    margin-right: 80px;
}
.footer-box {
    width: 264px;
    margin-right: 120px;
}

.logo-footer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.166;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.text-footer {
    line-height: 1.5;
    color: var(--cornflower);
    margin-top: 16px;
}

.icon-list-footer {
    display: flex;
    margin-top: 16px;
}

.p-footer-icons {
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 16px;
}

.icon-footer {
    width: 16px;
    height: 16px;
}

.icon-item-footer a {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon-item-footer:not(:last-child) {
    margin-right: 16px;
}
.subscribe-button{
    color: #fff;
    background-color: var(--iris);
    width: 168px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    letter-spacing: 0.06em;
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 0 8px 24px;
    display: flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:active{
    background-color: rgba(64, 75, 191, 1);
}

.label-subscribe p{
    margin-bottom: 16px;
}
.input-footer{
    width: 264px;
    height: 40px;
    border-radius: 4px;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    outline: inherit;
    padding: 8px 0 8px 16px;
    transition: border-color 250ms linear;
}
.input-footer:focus {
    border-color: var(--iris);
}
.label-subscribe{
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.svg-subscribe-button{
    width: 24px;
    height: 24px;
    fill: #fff;
    margin-left: 16px;
}
.subscribe-footer form{
    display: flex;
}
/* portfolio */
.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}

.portfolio-button {
    background-color: var(--cloud);
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 1.5;
    font-size: 16px;
    cursor: pointer;
    color: var(--iris);
    padding: 8px 16px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button-list li:not(:last-child) {
    margin-right: 24px;
}

.portfolio-button:hover,
.portfolio-button:focus {
    box-shadow: 0px 2px 2px 0px #0000001F, 0px 2px 1px 0px #00000014, 0px 3px 1px 0px #0000001A;
    background-color: var(--iris);
    color: #FFFFFF;
    border-color: transparent;
}

.portfolio-button:active {
    background-color: var(--cloud);
    color: var(--iris);
    box-shadow: none;
}

.portfolio-block-list {
    display: flex;
    flex-wrap: wrap;
}

.img-portfolio {
    display: block;
}

.portfolio-block {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 6 * 24px) / 9);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-block:hover {
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
}

.portfolio-block a:focus {
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
}

.portfolio-block:not(:nth-last-child(-n + 3)) {
    margin-bottom: 48px;
}

.portfolio-block:not(:nth-child(3n)) {
    margin-right: 24px;
}

.block-content {
    padding: 32px 16px 32px 16px;
    border-bottom: 0.5px solid var(--cloud);
    border-right: 0.5px solid var(--cloud);
    border-left: 0.5px solid var(--cloud);
}

.picture-text {
    color: var(--cloud);
    line-height: 1.5;
}

.section-h {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: var(--navy-blue);
    margin-bottom: 8px;
}

.relative-portfolio-block {
    position: relative;
    width: 360px;
    height: 300px;
    overflow: hidden;
}

.absolute-portfolio-block {
    position: absolute;
    transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px 0 32px;
    background-color: var(--iris);
    width: 360px;
    height: 300px;
    left: 0;
    top: 300px;
}

.portfolio-block:hover .absolute-portfolio-block,
a:focus .absolute-portfolio-block {
    top: 0;
}

.block-content p {
    color: var(--slate);
}

/* modal */
.is-hidden {
    visibility: hidden;
    opacity: unset;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    height: 579px;
    background-color: rgba(252, 252, 252, 1);
    opacity: 1;
    padding:  72px 24px 24px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.is-hidden .modal{
    opacity: 0;
    top: 100%
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 375ms cubic-bezier(0.4, 0, 0.2, 1), visibility 375ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 375ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden{
    opacity: 0;
}
.backdrop:not(.is-hidden) .modal{
    transition: opacity 375ms cubic-bezier(0.4, 0, 0.2, 1), top 375ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
    transition: opacity 375ms cubic-bezier(0.4, 0, 0.2, 1), top 375ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon-modal {
    width: 8px;
    height: 8px;
}

.button-close-modal {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 360px;
    top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--cornflower);
}


.button-close-modal:hover,
.button-close-modal:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    border: none;
}



/* form */
.form>p{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
    color: var(--navy-blue);
}
.textarea-label{
    margin-bottom: 16px;
}
.textarea-modal{
    resize: none;
    height: 120px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 8px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-modal::placeholder{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.667;
    color: rgba(117, 117, 117, 0.5);
}
.textarea-modal:focus{
    border-color: var(--iris);
}
.textarea-wrapper{
    margin-bottom: 16px;    
}
.input-text-form{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    padding-left: 34px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-text-form{
    outline: transparent;
}
.input-text-form:focus{
    border-color: var(--iris);
}
.input-text-form:focus+.icon-modal{
    fill: var(--iris);
}
.label-form{
    cursor: pointer;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.166;
    color: var(--light-slate);
    display: flex;
    flex-direction: column;
    text-align: start;
}
.input-wrapper{
    position: relative;
    margin-top: 4px;
}

.label-checkbox a{
    color: var(--iris);
}
.label-form:nth-child(2) .icon-modal{
    width: 12px;
    height: 12px;
}
.label-form:nth-child(3) .icon-modal{
width: 13px;
height: 13px;
}
.label-form:nth-child(4) .icon-modal{
width: 15px;
height: 12px;
}
.icon-modal{
    position: absolute;
    fill: inherit;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    top: 14px;
    left: 19px;   
}

.submit-button{
    width: 170px;
    padding: 16px 32px;
    background-color: var(--iris);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.submit-button:hover,
.submit-button:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.label-checkbox{
    display: flex;
    margin-bottom: 24px;
    cursor: pointer;
    position: relative;
    font-size: 12px;
    font-weight: 400px;
    line-height: 1.333;
}
.checkbox{
    width: 16px;
    height: 16px;
    border-radius: 2px;
    margin-right: 8px;
    opacity: 1;
}

.checkbox-svg{
    position: absolute;
    width: 16px;
    height: 16px;
    fill: #fff;
    padding: 4px 3px;
    border-radius: 2px;
    transition: background-color 250ms linear, border 250ms linear;
}
.checkbox:checked{
    opacity: 0;
}
.checkbox:checked+.checkbox-svg{
    background-color: var(--iris);
}